/*--------- color del fondo  ---------*/
body {
  background: #052D51;
  background-image: url('img/Fondo/Fondo2000x6000.png');
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
}


/* Estilos para el menú desplegable en pantallas pequeñas */
@media (max-width: 768px) {

  /* Selector para los botones del otro header dentro del media query */
  .contenedorBoton .botonInicioLibros,
  .contenedorBoton .botonInicioCasas,
  .contenedorBoton .botonInicioPersonajes,
  .contenedorBoton .botonInicioHechizos,
  .contenedorBoton .botonInicioPociones {
    display: none;
    /* Hace que los botones desaparezcan en pantallas pequeñas */
  }

  .flexbox oculto .botonInicioLibroscelu,
  .flexbox oculto .botonInicioCasascelu,
  .flexbox oculto .botonInicioPersonajescelu,
  .flexbox oculto .botonInicioHechizoscelu,
  .flexbox oculto .botonInicioPocionescelu {
    font-family: 'Harry Potter', sans-serif;
    border: none;
    font-size: 1.5vw;
    height: 3vw;
    width: 13vw;
    line-height: 4vw;
    color: rgb(175, 167, 88);
    background-color: #052D51;
    border-radius: 1vw;
    position: relative;
    top: -4vw;
    cursor: pointer;
    /*primero: superior, segundo: derecha, tercero: inferior, cuarto: izquierdo*/
    margin: 0vw 6vw 0vw 6vw;
  }

  .flexbox.oculto {
    top: 80px;
  }

  /* Estilos para el menú hamburguesa */
  .botonHamburguesa {
    display: block;
    margin: 0 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  /* Estilos para los tres iconos del menú hamburguesa */
  .botonHamburguesa span {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px 0;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
  }

  /* Estilos para el menú desplegable */
  /* .oculto {
    display: none;
  } */

  .flexbox.oculto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(5, 46, 81, 0.67);
    width: 30%;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  .flexbox.oculto button {
    margin: 10px 0;
  }
}

.flexbox oculto .botonInicioLibroscelu,
.flexbox oculto .botonInicioCasascelu,
.flexbox oculto .botonInicioPersonajescelu,
.flexbox oculto .botonInicioHechizoscelu,
.flexbox oculto .botonInicioPocionescelu {
  display: none;
}

/*--------- contenedor del boton  ---------*/
.contenedorBoton {
  background: #052D51;
  height: 10vw;
  text-align: center;
  border: none;
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  z-index: 10;
}

/*--------- boton de inicio  ---------*/
.contenedorBoton .botonInicioHP {
  width: 5vw;
  height: 5vw;
  font-size: 2.5vw;
  line-height: 2.5vw;
  background-color: #052D51;
  position: relative;
  border-radius: 12.5vw;
  padding: 0.65vw;
  border: none;
  cursor: pointer;
}

/*--------- Color del sensor del boton  ---------*/
.contenedorBoton .botonInicioHP:hover {
  background: rgb(255, 255, 255);
}

/*--------- Imagen del boton de inicio  ---------*/
.contenedorBoton .botonInicioHP img {
  width: 4vw;
  max-width: 4vw;
  margin-bottom: 1.5vw;
  position: relative;
  top: 0.5vw;
}

/*--------- Botones de cabecera  ---------*/
.contenedorBoton .botonInicioLibros,
.contenedorBoton .botonInicioCasas,
.contenedorBoton .botonInicioPersonajes,
.contenedorBoton .botonInicioHechizos,
.contenedorBoton .botonInicioPociones {
  font-family: 'Harry Potter', sans-serif;
  border: none;
  font-size: 1.5vw;
  height: 3vw;
  width: 13vw;
  line-height: 4vw;
  color: rgb(175, 167, 88);
  background-color: #052D51;
  border-radius: 1vw;
  position: relative;
  top: -4vw;
  cursor: pointer;
  /*primero: superior, segundo: derecha, tercero: inferior, cuarto: izquierdo*/
  margin: 0vw 6vw 0vw 6vw;
}


/*--------- fondo de los botones  ---------*/
.contenedorBoton .botonInicioLibros:hover,
.contenedorBoton .botonInicioCasas:hover,
.contenedorBoton .botonInicioPersonajes:hover,
.contenedorBoton .botonInicioHechizos:hover,
.contenedorBoton .botonInicioPociones:hover {
  background: rgb(255, 255, 255);
}



/*--------- flexbox del cotenedor de los botones  ---------*/
.contenedorBoton .flexbox {
  display: flex;
  justify-content: center;
  margin-top: 0vw;
}



/*--------- Fondo de la pag de bienvenida ---------*/
.fondoInicial {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

/*--------- Texto de la pag de bienvenida ---------*/
.fondoInicial h1 {
  background-color: rgba(5, 46, 81, 0.67);
  color: white;
  margin-top: 15vw;
  margin-right: 5vw;
  height: 33vw;
  font-size: 2vw;
  text-align: justify;

}

/* --------- Ancho del texto de la pag de bienvenida ---------*/
.bienvenida {
  width: 500vw;
  display: flex;
  flex-wrap: wrap;
}

/*--------- Margen y ancho del la pag bienvenida (Logo) ---------*/
.fondoInicial img {
  margin-top: 8vw;
  width: 50vw;
  flex-wrap: wrap;
}

/*--------- Pagina de los libros ---------*/
.libros {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Para los libros individuales */
.libroPortada {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 20px;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.libroPortada img {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.libroPortada.girar img {
  transform: rotateY(-180deg);
  transform-origin: left;
}

.libroPortada:hover img {
  transform: rotateY(180deg);
}

.info-libro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(5, 46, 81, 0.67);
  color: #fff;
  transform: rotateY(180deg);
  transform-origin: left;
  transition: transform 1s ease;
  font-size: 12px;
}

.libroPortada:hover .info-libro {
  transform: rotateY(0deg);
}

.libroPortada.mostrar-info .info-libro {
  transform: rotateY(0deg);
  transform-origin: center;
}

/* Página de los personajes */
.personajes {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}